@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 72 66% 49%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.3rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 72 66% 49%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
  }
}

/* Scrollbar */

/* Firefox */
* {
  scrollbar-width: none;
  scrollbar-color: #060606 #060606;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

*::-webkit-scrollbar-track {
  background: #060606;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #060606;
  border-radius: 20px;
}

/* Scrollbar End */

/* Initial state of the images */
.image-reveal {
  opacity: 1;
}

/* Rotate animation for the left and right images */
.rotate-left-top {
  transform: rotate(30deg) translateX(-15%);
  transition: transform 1s;
}
.rotate-left-bottom {
  transform: rotate(-30deg) translateX(-15%);
  transition: transform 1.5s;
}
.rotate-right-top {
  transform: rotate(-30deg) translateX(15%);
  transition: transform 1s;
}
.rotate-right-bottom {
  transform: rotate(30deg) translateX(15%);
  transition: transform 1.5s;
}

/* Slide in animation for the middle image */
.slide-right {
  opacity: 1;
  transform: translateX(20%);
  transition: transform 1s ease;
}

.slide-left {
  opacity: 1;
  transform: translateX(-20%);
  transition: transform 1s ease;
}

#float {
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 2s infinite alternate;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.slide-hero-right {
  opacity: 1;
  transform: translateX(65%) translateY(0%);
  transition: transform 1s ease;
}

.slide-hero-up {
  opacity: 1;
  transform: translateY(8%);
  transition: transform 1s ease;
}

.slide-hero-left {
  opacity: 1;
  transform: translateX(-65%) translateY(0%);
  transition: transform 1s ease;
}

.grid-pattern {
  display: flex;
  flex-direction: column;
  position: absolute;
  min-height: 91vh;
  background-image: url(/images/grid-pattern.webp);
  background-repeat: no-repeat;
  background-position: 50% -15.5%;
  inset: calc(-80px + -24px) 0 0 0;
}

.footer-pattern {
  display: flex;
  flex-direction: column;
  position: absolute;
  min-height: 100vh;
  background-image: url(/images/footer-bg.png);

  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.logo {
  z-index: 2;
}

.menu-button {
  position: fixed;
  right: 0px;
  top: 0px;
  margin-top: 15px;
  margin-right: 12px;
  z-index: 2;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #242525;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-button:hover {
  background-color: #aece2a;
}
.menu-button:hover .burger::after,
.menu-button:hover .burger::before {
  background-color: #aece2a;
  background-color: black;
}
.burger {
  width: 100%;
}
.burger::after,
.burger::before {
  content: "";
  display: block;
  height: 1px;
  width: 50%;
  margin: auto;
  background-color: white;
  position: relative;
  transition: transform 0.3s;
}
.burger::after {
  top: -4px;
}
.burger::before {
  top: 4px;
}
.burgerActive::after {
  transform: rotate(45deg);
  top: -1px;
}
.burgerActive::before {
  transform: rotate(-45deg);
  top: 0px;
}

.menu {
  width: 100vw;
  height: 100dvh;
  background-color: #060606;
  position: fixed;
  right: 0;
  top: 0;
  color: white;
}
.menu .body {
  box-sizing: border-box;
  height: 100%;
  padding-top: 100px;
  padding-left: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu .body .nav {
  display: flex;
  flex-direction: column;
  font-size: 48px;
  gap: 12px;
  margin-top: 80px;
}
.menu .body .nav .header {
  color: #999;
  border-bottom: 1px solid #999;
  text-transform: uppercase;
  font-size: 11px;
  margin-bottom: 40px;
}
.menu .body .nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 400;
}
.menu .footer {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  gap: 40px;
}

.link {
  position: relative;
  display: flex;
  align-items: center;
}
.link .indicator {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: -20px;
}

.svgCurve {
  position: absolute;
  top: 0;
  left: -99px;
  width: 100px;
  height: 100%;
  fill: #060606;
  stroke: none;
}
