@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 72 66% 49%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.3rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 72 66% 49%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
  }
}

/* Scrollbar */

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: white #060606;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

*::-webkit-scrollbar-track {
  background: #060606;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #060606;
  border-radius: 20px;
}

/* Scrollbar End */

/* Initial state of the images */
.image-reveal {
  opacity: 1;
}

/* Rotate animation for the left and right images */
.rotate-left-top {
  transform: rotate(30deg) translateX(-15%);
  transition: transform 1s;
}
.rotate-left-bottom {
  transform: rotate(-30deg) translateX(-15%);
  transition: transform 1.5s;
}
.rotate-right-top {
  transform: rotate(-30deg) translateX(15%);
  transition: transform 1s;
}
.rotate-right-bottom {
  transform: rotate(30deg) translateX(15%);
  transition: transform 1.5s;
}

/* Slide in animation for the middle image */
.slide-right {
  opacity: 1;
  transform: translateX(20%);
  transition: transform 1s ease;
}

.slide-left {
  opacity: 1;
  transform: translateX(-20%);
  transition: transform 1s ease;
}

#float {
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 2s infinite alternate;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.slide-hero-right {
  opacity: 1;
  transform: translateX(65%) translateY(15%);
  transition: transform 1s ease;
}

.slide-hero-up {
  opacity: 1;
  transform: translateY(23%);
  transition: transform 1s ease;
}

.slide-hero-left {
  opacity: 1;
  transform: translateX(-65%) translateY(15%);
  transition: transform 1s ease;
}

.slide-hero-right-reverse {
  opacity: 1;
  transform: translateX(0) translateY(0);
  transition: transform 1s ease;
}

.slide-hero-left-reverse {
  opacity: 1;
  transform: translateX(0) translateY(0); /* Reversed translation */
  transition: transform 1s ease;
}
